@font-face {
  font-family: "Cabin Variable";
  src: url("../fonts/Cabin_V.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabin Italic Variable";
  src: url("../fonts/Cabin-Italic_V.woff2") format("woff2");
  font-weight: 95 128;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Variable";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url("../fonts/SourceSansVariable-Roman.otf.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Variable Italic";
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  src: url("../fonts/SourceSansVariable-Italic.otf.woff2") format("woff2");
}

@font-face {
  font-family: "Source Serif Variable Italic";
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  src: url("../fonts/SourceSerifVariable-Italic.ttf.woff2") format("woff2");
}

@font-face {
  font-family: "Source Serif Variable";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url("../fonts/SourceSerifVariable-Roman.ttf.woff2") format("woff2");
}
